---
import MaxWidthWrapper from "@/common/components/MaxWidthWrapper.astro";
---

<section class="py-16 px-4 md:px-8 lg:px-16">
    <MaxWidthWrapper >
      <h5 
      class="text-6xl mb-10 sm:text-7xl md:text-8xl font-bold text-black text-center tracking-tighter"
      >
        Creciendo y construyendo comunidad.
      </h5>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
        <div>
          <img
            src="/ober-brand/historia.webp"
            alt="Company History"
            class="rounded-lg shadow-lg aspect-[4/3] object-cover"
          />
        </div>
        <div
            class="flex flex-col justify-between h-full"
        >
          <p class="text-lg">
            Oberlicht surgió en 2011 como respuesta a la necesidad apremiante de contar con instalaciones deportivas de calidad en Zacatelco, Tlaxcala. La falta de espacios adecuados para la práctica del deporte había limitado durante años el acceso de la comunidad a oportunidades que promuevan un estilo de vida saludable y activo.
          </p>
          <p class="text-lg">
            El objetivo principal de Oberlicht ha sido crear un espacio que inspire a las personas a mejorar su calidad de vida a través del deporte. Al proporcionar instalaciones de alta calidad, Oberlicht ha logrado convertirse en un pilar dentro de la comunidad, donde el compromiso con la salud y el bienestar va más allá del ejercicio físico.
          </p>
          <p class="text-lg">
            Desde sus inicios, Oberlicht ha buscado impactar positivamente en la comunidad de Zacatelco, ofreciendo programas deportivos que se adaptan a las necesidades de personas de todas las edades y niveles de habilidad. Al fomentar la actividad física, se ha convertido en un motor de cambio social, ayudando a sus miembros a alcanzar metas personales, mejorar su salud mental y física.
          </p>
        </div>
      </div>
    </MaxWidthWrapper>
  </section>