---
import MaxWidthWrapper from "@/common/components/MaxWidthWrapper.astro";
---

<section class="py-16">
  <MaxWidthWrapper>
    <h5
      class="text-6xl mb-10 sm:text-7xl md:text-8xl font-bold text-black text-center tracking-tighter"
    >
      Transformar vidas con deporte.
    </h5>
    <div class="grid grid-cols-1 xl:grid-cols-2 gap-8 items-center">
      <div>
        <img
          src="/ober-brand/mision.webp"
          alt="Company Mision"
          class="rounded-lg shadow-lg aspect-[4/3] object-cover"
        />
      </div>
      <div class="flex flex-col space-y-4 xl:space-x-0 justify-around h-full">
        <p>
          Oberlicht tiene como misión satisfacer las necesidades de recreación y
          salud de la comunidad, ofreciendo una amplia gama de clases deportivas
          y culturales diseñadas para personas de todas las edades y niveles.
          Desde su fundación, el centro se ha comprometido a brindar servicios
          accesibles y de alta calidad, creando un entorno inclusivo donde todos
          puedan participar y beneficiarse de una vida activa y saludable.
        </p>
        <p>
          El equipo de Oberlicht está compuesto por personal altamente
          capacitado y comprometido con la mejora continua de los servicios
          ofrecidos. Cada instructor y entrenador no solo tiene una formación
          sólida en su disciplina, sino que también comparte la pasión por
          motivar a los participantes a superarse a sí mismos.
        </p>
        <p>
          Al promover la calidad en cada aspecto de sus servicios, Oberlicht se
          ha consolidado como un espacio que no solo se preocupa por el
          bienestar físico de las personas, sino también por su desarrollo
          integral.
        </p>
      </div>
    </div>
  </MaxWidthWrapper>
</section>
