---
import MaxWidthWrapper from "@/common/components/MaxWidthWrapper.astro";
---

<section class="py-16">
  <MaxWidthWrapper>
    <h5
      class="text-6xl mb-10 sm:text-7xl md:text-8xl font-bold text-black-oberlicht text-center tracking-tighter"
    >
      Excelencia global, impacto local.
    </h5>
    <div class="grid grid-cols-1 xl:grid-cols-2 gap-8 items-center">
      <div>
        <img
          src="/ober-brand/vision.webp"
          alt="Company History"
          class="rounded-lg shadow-lg aspect-[4/3] object-cover w-full"
        />
      </div>
      <div class="flex flex-col space-y-4 xl:space-x-0 justify-around h-full">
        <p class="text-lg">
          Oberlicht busca ser reconocida como una de las principales
          instituciones educativas que promueven el deporte, la recreación y la
          salud, con estándares internacionales de calidad. Desde su fundación
          en Zacatelco, Tlaxcala, se ha dedicado a elevar los estándares
          locales, creando un entorno que fomente el bienestar físico y mental,
          basado en una visión global de excelencia.
        </p>
        <p class="text-lg">
          A través de sus programas deportivos y culturales, Oberlicht no solo
          desarrolla habilidades físicas, sino que también inculca valores como
          la disciplina, el respeto y el trabajo en equipo. Al alinearse con
          estándares internacionales, busca no solo mejorar el rendimiento de
          sus alumnos, sino también formar seres humanos íntegros y
          comprometidos con su crecimiento personal.
        </p>
        <p class="text-lg">
          El impacto de Oberlicht se refleja en su comunidad, donde se ha
          consolidado como un referente en la promoción del bienestar social. Su
          enfoque en la excelencia y la formación de valores lo posiciona como
          un agente de cambio positivo, ayudando a las personas a convertirse en
          seres humanos más completos y equilibrados.
        </p>
      </div>
    </div>
  </MaxWidthWrapper>
</section>
