---
import MaxWidthWrapper from "./MaxWidthWrapper.astro";
---

<div>
  <MaxWidthWrapper className="flex h-screen w-full justify-center items-center">
    Seguimos en construcción
  </MaxWidthWrapper>
</div>
