---
import MaxWidthWrapper from "@/common/components/MaxWidthWrapper.astro";
---

<div class="py-32 mb-20">
  <MaxWidthWrapper className="flex flex-col justify-center items-center">
    <h5
      class="text-6xl sm:text-7xl md:text-8xl font-bold text-black text-center tracking-tighter mb-4"
    >
      Opiniones de nuestros clientes
    </h5>
    <div
      class="w-full overflow-hidden relative before:content-[''] after:content-[''] before:absolute after:absolute before:top-0 after:top-0 before:bottom-0 after:bottom-0 before:w-24 after:w-24 before:z-10 after:z-10 before:left-0 after:right-0 before:bg-gradient-to-r before:from-white before:to-transparent after:bg-gradient-to-l after:from-white after:to-transparent"
    >
      <div class="flex animate-scroll-right">
        <!-- Tarjetas de reseñas -->
        <div
          class="flex-shrink-0 w-64 p-4 bg-white rounded-lg shadow-md mx-2 my-2"
        >
          <h3 class="text-lg font-semibold text-gray-800">María García</h3>
          <p class="mt-2 text-sm text-gray-600">
            "Excelente servicio, siempre atentos a mis necesidades."
          </p>
          <p class="mt-2 text-xs text-gray-500">Cliente desde hace: 2 años</p>
        </div>
        <div
          class="flex-shrink-0 w-64 p-4 bg-white rounded-lg shadow-md mx-2 my-2"
        >
          <h3 class="text-lg font-semibold text-gray-800">Juan Pérez</h3>
          <p class="mt-2 text-sm text-gray-600">
            "Productos de alta calidad y entrega rápida."
          </p>
          <p class="mt-2 text-xs text-gray-500">Cliente desde hace: 6 meses</p>
        </div>
        <div
          class="flex-shrink-0 w-64 p-4 bg-white rounded-lg shadow-md mx-2 my-2"
        >
          <h3 class="text-lg font-semibold text-gray-800">Ana Martínez</h3>
          <p class="mt-2 text-sm text-gray-600">
            "Siempre encuentro lo que necesito a buen precio."
          </p>
          <p class="mt-2 text-xs text-gray-500">Cliente desde hace: 1 año</p>
        </div>
        <div
          class="flex-shrink-0 w-64 p-4 bg-white rounded-lg shadow-md mx-2 my-2"
        >
          <h3 class="text-lg font-semibold text-gray-800">Carlos Rodríguez</h3>
          <p class="mt-2 text-sm text-gray-600">
            "Atención al cliente excepcional, muy recomendado."
          </p>
          <p class="mt-2 text-xs text-gray-500">Cliente desde hace: 3 años</p>
        </div>
        <div
          class="flex-shrink-0 w-64 p-4 bg-white rounded-lg shadow-md mx-2 my-2"
        >
          <h3 class="text-lg font-semibold text-gray-800">María García</h3>
          <p class="mt-2 text-sm text-gray-600">
            "Excelente servicio, siempre atentos a mis necesidades."
          </p>
          <p class="mt-2 text-xs text-gray-500">Cliente desde hace: 2 años</p>
        </div>
        <div
          class="flex-shrink-0 w-64 p-4 bg-white rounded-lg shadow-md mx-2 my-2"
        >
          <h3 class="text-lg font-semibold text-gray-800">Juan Pérez</h3>
          <p class="mt-2 text-sm text-gray-600">
            "Productos de alta calidad y entrega rápida."
          </p>
          <p class="mt-2 text-xs text-gray-500">Cliente desde hace: 6 meses</p>
        </div>
        <div
          class="flex-shrink-0 w-64 p-4 bg-white rounded-lg shadow-md mx-2 my-2"
        >
          <h3 class="text-lg font-semibold text-gray-800">Ana Martínez</h3>
          <p class="mt-2 text-sm text-gray-600">
            "Siempre encuentro lo que necesito a buen precio."
          </p>
          <p class="mt-2 text-xs text-gray-500">Cliente desde hace: 1 año</p>
        </div>
        <div
          class="flex-shrink-0 w-64 p-4 bg-white rounded-lg shadow-md mx-2 my-2"
        >
          <h3 class="text-lg font-semibold text-gray-800">Carlos Rodríguez</h3>
          <p class="mt-2 text-sm text-gray-600">
            "Atención al cliente excepcional, muy recomendado."
          </p>
          <p class="mt-2 text-xs text-gray-500">Cliente desde hace: 3 años</p>
        </div>
      </div>
    </div>
  </MaxWidthWrapper>
</div>
