---
import MaxWidthWrapper from "@/common/components/MaxWidthWrapper.astro";

const clients = [
  {
    "name": "John Doe",
    "since": "2018",
    "opinion": "The sports center has top-notch facilities and a great atmosphere for training."
  },
  {
    "name": "Jane Smith",
    "since": "2019",
    "opinion": "I've been a member for a year, and I love the variety of classes offered at the center."
  },
  {
    "name": "Michael Johnson",
    "since": "2020",
    "opinion": "The staff at the sports center are incredibly friendly and always willing to help."
  },
  {
    "name": "Emily Davis",
    "since": "2017",
    "opinion": "I appreciate the cleanliness and maintenance of the equipment at the center."
  },
  {
    "name": "William Brown",
    "since": "2021",
    "opinion": "The sports center has become my second home. I can't imagine my life without it."
  },
  {
    "name": "Olivia Wilson",
    "since": "2019",
    "opinion": "The center's swimming pool is fantastic. It's never too crowded, and the water is always clean."
  },
  {
    "name": "James Taylor",
    "since": "2018",
    "opinion": "I've tried several gyms, but this sports center is by far the best one I've been to."
  },
  {
    "name": "Sophia Anderson",
    "since": "2020",
    "opinion": "The group classes at the center are so much fun. I've made great friends while getting fit."
  },
  {
    "name": "Benjamin Thomas",
    "since": "2019",
    "opinion": "I love the variety of sports facilities available. There's something for everyone."
  },
  {
    "name": "Isabella Jackson",
    "since": "2017",
    "opinion": "The sports center has helped me achieve my fitness goals. I'm grateful for the support."
  }
]
---

<section class="py-32 mb-20">
  <MaxWidthWrapper className="flex flex-col justify-center items-center">
    <h2
      class="text-6xl sm:text-7xl md:text-8xl font-bold text-black text-center tracking-tighter mb-4"
    >
      Opiniones de nuestros clientes
    </h2>
    <div
    class="w-full h-fit flex flex-col justify-center select-none overflow-hidden gradient"
  >
    <div class="w-max py-4 flex flex-nowrap gap-[2rem] animate-slide-reviews select-none">
      {
        clients.map((client) => (
          <div class="w-80 shadow-lg p-4 rounded-lg">
            <p class="font-semibold">{client.name}</p>
            <p class="text-sm text-black/50">Cliente desde: {client.since}</p>
            <p>{client.opinion}</p>
          </div>
        ))
      }
    </div>
  </div>
  </MaxWidthWrapper>
</section>

<style>
  .gradient {
    mask: linear-gradient(
      90deg,
      transparent,
      black 20%,
      black 80%,
      transparent
    );
    webkitmask: linear-gradient(
      90deg,
      transparent,
      black 20%,
      black 80%,
      black transparent
    );
  }
</style>