---
import BaseHead from "@/common/components/BaseHead.astro";
import Footer from "@/common/components/Footer.astro";
import Navbar from "@/common/components/Navbar.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
